# Python bytecode
__pycache__/
*.py[cod]

# IDE folders and files
.idea/              # PyCharm
.vscode/            # Visual Studio Code
*.sublime-workspace
*.sublime-project

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test coverage reports
.coverage
.coverage.*
nosetests.xml
pytest.xml
*.coveragerc

# mypy
.mypy_cache/

# Pytest
.cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/settings.json

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Log files
*.log

# Environment variables file
.env

# Pyre type checker
.pyre/

# Docker files (optional)
.docker/

# JetBrains IDE specific files (Optional)
*.iml
/.idea/workspace.xml
